/* Styles for Hero Cards Block */

.hero-cards {
    display: flex;
    flex-wrap: nowrap;
}

.hero-card {
    flex: 1;
    transition: flex 0.5s ease;
    font-family: "Roboto Condensed", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.hero-card:hover {
    flex: 1.5;
}

.hero-card:not(:hover) {
    flex: 0.5;
}

.hero-card .hero-card-content {
    transition: transform 0.33s ease;
}

.hero-card:hover .hero-card-content {
    transform: translateY(0px);
    transition-delay: 0.17s;
}

.hero-card:not(:hover) .hero-card-content {
    transform: translateY(110px);
    transition-delay: 0s;
}

.hero-card .hero-card-link, .hero-card .hero-card-subtitle {
    transition: opacity 0.33s ease;
}

.hero-card:hover .hero-card-link, .hero-card:hover .hero-card-subtitle {
    opacity: 1;
    transition-delay: 0.33s;
}

.hero-card:not(:hover) .hero-card-link, .hero-card:not(:hover) .hero-card-subtitle {
    opacity: 0;
    transition-delay: 0s;
}

.hero-vuetify-card {
    border: 3px solid white !important;
    overflow: hidden;
    position: relative;
}

.hero-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-color: #0d72b9;
    background-blend-mode: overlay; /* Try 'multiply', 'screen', 'overlay', 'color' */
    transition: background-color 0.33s ease, transform 0.33s ease;
    transition-delay: 0s, 0s;
    transform: scale(100%);
}

.hero-card:hover .hero-background {
    background-color: transparent;
    transition: background-color 0.33s ease, transform 0.49s ease;
    transition-delay: 0s, .17s;
    transform: scale(110%);
}

.hero-blur {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(2px);
    -webkit-mask: linear-gradient(180deg, transparent, black 100%);
}

.hero-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(15, 23, 38, 0), rgba(15, 23, 38, 0.87)) !important;
    background-blend-mode: multiply;
}

.v-application  .hero-card .hero-card-link {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 1.5em !important;
    font-weight: 900 !important;
    font-style: italic !important;
    letter-spacing: 0 !important;
    height: 32px !important;
}

.v-application .hero-card .hero-card-title {
    font-size: 3em !important;
    font-weight: 900 !important;
    font-style: italic !important;
    line-height: normal;
    font-family: "Roboto Condensed", sans-serif !important;
    text-transform: uppercase;
    word-break: normal !important;
}

.v-application .hero-card .hero-card-subtitle {
    min-height: 66px;
    max-width: 600px;
}

.truncate-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
    padding-bottom: 0 !important;
}

.truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box  !important;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-bottom: 0 !important;
}

.truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box  !important;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-bottom: 0 !important;
}